Node-RED_Flows/Lab5
[{"id":"f144ec8b.6e19","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f8382428.85de9","type":"inject","z":"f144ec8b.6e19","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":100,"wires":[["db68de0f.a1b468","74c73a1b.347dbc","b54e8bfd.ae9a48","3c6215fc.9b27d2"]]},{"id":"db68de0f.a1b468","type":"file in","z":"f144ec8b.6e19","name":"","filename":"/tmp/xdote","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":490,"y":80,"wires":[["4e10848a.433aa4"]]},{"id":"74c73a1b.347dbc","type":"file in","z":"f144ec8b.6e19","name":"","filename":"/tmp/tdote","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":140,"wires":[["f854e2b3.c33668"]]},{"id":"b54e8bfd.ae9a48","type":"file in","z":"f144ec8b.6e19","name":"","filename":"/tmp/pdl","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":200,"wires":[["dd6774f4.cca7a"]]},{"id":"3c6215fc.9b27d2","type":"file in","z":"f144ec8b.6e19","name":"","filename":"/tmp/pdr","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":260,"wires":[["323bfb61.41ddcc"]]},{"id":"f854e2b3.c33668","type":"ui_chart","z":"f144ec8b.6e19","name":"","group":"1f022365.5c38bd","order":1,"width":0,"height":0,"label":"Angular Velocity (rads/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":140,"wires":[[]]},{"id":"dd6774f4.cca7a","type":"ui_chart","z":"f144ec8b.6e19","name":"","group":"b109fffc.0161c8","order":0,"width":0,"height":0,"label":"Left Wheel (rads/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":730,"y":200,"wires":[[]]},{"id":"323bfb61.41ddcc","type":"ui_chart","z":"f144ec8b.6e19","name":"","group":"b109fffc.0161c8","order":1,"width":0,"height":0,"label":"Right Wheel (rads/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":260,"wires":[[]]},{"id":"4e10848a.433aa4","type":"ui_chart","z":"f144ec8b.6e19","name":"","group":"1f022365.5c38bd","order":0,"width":0,"height":0,"label":"Forward Velocity (m/s)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":80,"wires":[[]]},{"id":"1f022365.5c38bd","type":"ui_group","name":"Chasis Speeds","tab":"584709d0.e64c08","order":1,"disp":true,"width":"6","collapse":false},{"id":"b109fffc.0161c8","type":"ui_group","name":"Wheel Speeds","tab":"584709d0.e64c08","order":2,"disp":true,"width":"6","collapse":false},{"id":"584709d0.e64c08","type":"ui_tab","name":"Lab 5","icon":"dashboard","order":5,"disabled":false,"hidden":false}]
